{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block styles %}
<style>
.fas{ padding-right:15px}
}
.modal{
    border: 2px solid black;
}
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>You currently have {{ forms|length }} items.</h1>
      <ul class="list-group" id="error_messages">
      </ul>
      <form method="post" autocomplete="off">
        {% csrf_token %}
          <div class="list-group">
              {% for form in forms %}
                  <li class="list-group-item">{{ form }}</li>
              {% endfor %}
          </div>

          {% if forms %}
              <div class="form-row">
              <div>Total: <div id="totalPrice"></div></div>
              <div class="form-group col-md-6 mb-0">
          {% endif %}
              </div>
               <div class="form-group col-md-6 mb-0">
                    <button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i>Checkout</button>
               </div>
          </div>
          <input type="hidden" name="next" value="{{ next }}">
    </form>
    </div>
{% endblock %}


