{% load crispy_forms_tags %}

{% block styles %}
<style>
.fas{ padding-right:15px}
}
.modal{
    border: 2px solid black;
}
</style>
{% endblock %}

{% block content %}

 <div class="modal fade" id="SignUpModal" tabindex="-1" role="dialog" aria-labelledby="SignUpModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="SignUpModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <h2>Create account</h2>
                  <ul class="list-group" id="error_messages">

                  </ul>
                  </row>
                  <form method="post" autocomplete="off">
                    {% csrf_token %}
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.username | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.email | as_crispy_field }}
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.password1|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.password2|as_crispy_field }}
                          </div>
                     </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.first_name|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.last_name|as_crispy_field }}
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.city|as_crispy_field }}
                          </div>
                          <div class="form-group col-md-6 mb-0">
                            {{ signup_modal_form.country|as_crispy_field }}
                          </div>
                      </div>
                      {{ signup_modal_form.delivery_address|as_crispy_field }}
                      <input type="hidden" name="next" value="{{ next }}">
                      <div class="form-row">
                           <div class="form-group col-md-5 mb-0">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i>Create Account</button>
                           </div>
                          <div class="form-group col-md-7 mb-0">
                                <div class="col-md-12 mb-0">Already registered?
                                    <a href="{% url 'sign_in' %}" data-toggle="modal" data-target="#SignInModal">Sign in</a>
                                </div>
                           </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
</div>

<script>
    $('#SignUpModal').submit(function(e){
        e.preventDefault();
        var form = $(e.target);

        $.ajax({
            url: '{% url "sign-up" %}',
            type: 'post',
            data: form.serialize(),
            error: function(xhr, ajaxOptions, thrownError){ alert(thrownError); },
            success: function(data) {
              $('#error_messages').empty()  // Empty the error_messages div
              if (data['errors']){
                error_list = Object.values(data['errors'])
                error_list.forEach(function(error){
                $('#error_messages').append('<li class="list-group-item list-group-item-danger">' + error + '</li>');
                })
              }
              else{
              location.href = window.location.href;
            }
            },
        })
 })
</script>

{% endblock %}
